.basket-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 15px;
	border-bottom: 1px solid rgba(255, 159, 41, 0.2);
	&__name {
		flex-grow: 1;
	}
	&__quantity {
		min-width: 100px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	&__price {
		min-width: 80px;
		text-align: end;
	}
	&__delete {
		width: 20px;
		padding: 0 12px 0 20px;
		cursor: pointer;
	}
	button {
		border: none;
		background: none;
		color: #000;
		cursor: pointer;
		
	}
	&__plus {
		cursor: pointer;
	}
}